[Desktop Entry]
Type=Application
Version=1.0
Name=XFCE panel
Comment=Session helper for XFCE panel layout.
Exec=/usr/local/bin/xfce-panel-autostart.sh
Icon=preferences-desktop-display
Terminal=false
Categories=Settings;
Hidden=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
